mixin object-stage-table-items(num, title, quantity, price, sum)
	li.stage-table__sub-item
		.row.gx-1.gx-xl-3
			.col-12.col-xl-4.mb-16.mb-xl-0.d-xl-flex.align-items-center
				span.stage-table__text #{num} #{title}
			.col-3.col-xl-2.d-none.d-xl-flex.align-items-center
				span.stage-table__text м.п.
			.col-3.col-xl-2.d-none.d-xl-flex.align-items-center
				span.stage-table__text #{price} &#x20bd;
			.col-3.col-xl-2.d-flex.justify-content-xl-center.align-items-center
				span.stage-table__text #{quantity}
			.col-9.col-xl-2.d-flex.justify-content-end.align-items-center
				span.stage-table__text.stage-table__text--strong #{sum} &#x20bd;
		button.stage-table__change-button
			span.visually-hidden Кнопка для редактирования поля
			+icon('icon-edit-grey', 'object-stage__icon d-none d-xl-block', '16', '16')
		.row._hidden.position-relative
			.col-12
				textarea.stage-table__textarea(name="stageTableTextarea")
			.col-12
				button.stage-table__button-add Добавить


.object__stage.object-stage
	include header-estimate
	.object-stage__body.px-xl-100
		.col-12.col-xl-7.mx-xl-auto
			h2.object-stage__title Мы подготовили для вас смету
			p.object-stage__text Пожалуйста проверьте её, если у вас есть вопросы — нажмите на кнопку "Требуется пояснения"
			p.object-stage__text.text-danger.mb-0 #[strong Обращаем ваше внимание!]
			p.object-stage__text При электронном подписании договора вам необходимо будет внести предоплату, указанную в соответствующем разделе сметы.
		.col-12
			.object-stage__border
		.object-stage__table.stage-table.mb-40
			ul.stage-table__list
				li.stage-table__item.mb-xl-24.d-none.d-xl-block
					.row.gx-1.gx-xl-3
						.col-xl-4.mb-16.mb-xl-0.d-xl-flex.align-items-center
							span.stage-table__text.stage-table__text--grey Наименование работ
						.col-xl-2.mb-16.mb-xl-0.d-xl-flex.align-items-center
							span.stage-table__text.stage-table__text--grey Ед.изм
						.col-xl-2.d-none.d-xl-flex.align-items-center
							span.stage-table__text.stage-table__text--grey Цена
						.col-xl-2.d-flex.justify-content-center.align-items-center
							span.stage-table__text.stage-table__text--grey Кол-во
						.col-xl-2.d-flex.justify-content-end.align-items-center
							span.stage-table__text.stage-table__text--grey Сумма
				li.stage-table__item.stage-table__item--head
					h3.stage-table__title Категория 1
					ul.stage-table__sub-list
						+object-stage-table-items('1.', 'Ремонтныйе штуки какие-нибудь  штуки какие-нибудь', '2шт', '200 000', '400 000')
						+object-stage-table-items('2.', 'Ремонтныйе штуки какие-нибудь', '2шт', '200 000', '400 000')
						+object-stage-table-items('3.', 'Ремонтныйе штуки какие-нибудь', '2шт', '200 000', '400 000')
				li.stage-table__item.stage-table__item--head
					h3.stage-table__title Категория 2
					ul.stage-table__sub-list
						+object-stage-table-items('4.', 'Ремонтныйе штуки какие-нибудь', '2шт', '200 000', '400 000')
						+object-stage-table-items('5.', 'Ремонтныйе штуки какие-нибудь', '2шт', '200 000', '400 000')
						+object-stage-table-items('6.', 'Ремонтныйе штуки какие-нибудь', '2шт', '200 000', '400 000')
				li.stage-table__item.stage-table__item--head
					h3.stage-table__title Категория 3
					ul.stage-table__sub-list
						+object-stage-table-items('7.', 'Ремонтныйе штуки какие-нибудь', '2шт', '200 000', '400 000')
						+object-stage-table-items('8.', 'Ремонтныйе штуки какие-нибудь', '2шт', '200 000', '400 000')
						+object-stage-table-items('9.', 'Ремонтныйе штуки какие-нибудь', '2шт', '200 000', '400 000')
		.row
			.col-12
				.object-stage__border
			.col-12.mb-30
				.row
					.col-3
						span.stage-table__text.stage-table__text--strong.stage-table__text--big Итого
					.col-9.d-flex.justify-content-end
						span.stage-table__text.stage-table__text--strong.stage-table__text--big 3 200 000 &#x20bd;
			.col-12
				.object-stage__border
			.col-12
				.row
					.col-12.col-md-6.mb-16.mb-md-0.order-md-2
						a(href="#estimate-offer").button._popup-link Согласовать
					.col-12.col-md-6
						a(href="#estimate-edits").button.button--transparent._popup-link Требуются пояснения





